.community-container {
    margin: 40px auto;
    text-align: center;
}
header {
  background-color: #2c2c3c;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav a {
  color: #ffd369;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.section-header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #444;
}




.community-title {
    font-size: 2.3em;
    font-weight: 700;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 1.1em;
    color: var(--text-secondary);
    margin-bottom: 30px;
}


.community-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}


.community-card {
    background: var(--bg-surface);
    padding: 25px 30px;
    width: 280px;
    border-radius: 12px;
  
}

.community-card h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: var(--text-primary);
}

.community-card p {
    font-size: 0.95em;
    color: var(--text-secondary);
}


.join-btn {
     padding: 10px 15px;
  background: var(--accent-primary);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.join-btn:hover {
    background: #5ff6ff;
}
